@page
@model DroneTest.Master.Pages.AgentsModel
@{
    ViewData["Title"] = "Agents";
}

<h1>Agents</h1>


<table class="table">

    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agents[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agents[0].Status)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Agents)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
    </tbody>
</table>

